* {
  box-sizing: border-box;
  margin: 0px;
  padding: 0px;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  /* line-height: 1; */
  padding: 1rem 1.5rem;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(1, 17, 17);
  padding: 15px;
  border: 2px solid blue;
}

.quora-p {
  font-size: 12px;
}

.head ul {
  display: flex;
  justify-content: space-between;
}

.head li {
  margin: 5px;
}

ul {
  list-style: none;
}

a:link {
  color: blue;
}

a:visited {
  color: blue;
}

.container {
  width: 200px;
  height: 100px;
  align-content: center;
  border: 1px solid rgb(51, 51, 250);
  position: absolute;
  top: 150px;
  right: 50px;
}

/* .header {
  border-top: 1px solid blue;
  border-bottom: blue;
} */

.footer {
  padding: 15px;
  border: 2px solid blue;
}
